 * {
    box-sizing: border-box;
 }

 body {
  display: grid;
  grid-template-columns: 3fr .25fr;
  grid-template-rows: 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2vmin 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("https://i.imgur.com/GBOg4Qu.png");
  z-index: -1;
 }

 header {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-content: center;
  margin-bottom: auto;
  font-size: 8vmin;
  color: whitesmoke;
  border-bottom: .2vmin solid whitesmoke;
 }

 #message {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-content: center;
  color: whitesmoke;
  font-size: 4vmin;
 }

#dealer {
  display: flex;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-content: center;
  color: whitesmoke;
  font-size: 3vmin;
}
#table {
 display: grid;
 grid-row: 4 / 5;
 grid-column: 1 / 2;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 3vmin;
 color: whitesmoke;
 background-color: #082B11;
 border: .4vmin solid black;
 border-radius: 50%;
 width: 80vmin;
 height: 40vmin;
 margin: auto;
 z-index: 1;
}

#player-hand {
  z-index: 2;
}

#player {
  display: flex;
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  justify-content: center;
  color: whitesmoke;
  font-size: 3vmin;
}


#play-buttons {
  cursor: grab;
  grid-row: 6 / 7;
  grid-column: 1 / 2;
  text-align: center;
  visibility: hidden;
 }

 #deal-button {
  cursor: grab;
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  text-align: center;
 }
 
 #current-bet {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  text-align: center;
  border: .3vmin solid whitesmoke;
  color: whitesmoke;
  font-size: 2vmin;
 }

 #bet-buttons {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  text-align: center;
  cursor: grab;
 }
 
 
 #bank {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
  text-align: center;
  text-justify: center;
  color: whitesmoke;
  font-size: 2vmin;
  border: .3vmin solid whitesmoke;
 }